{% load static %}

<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <img src="{% static 'img/building.svg' %}" alt="Logo" class="mb-3" width="100" height="70">
                <h5 class="mb-2">Charme Inmobiliaria Home</h5>
                <p class="mb-0 small">Desarrollado por María Cristina Pérez de Arce | Bootcamp Python 2024</p>
            </div>
        </div>
    </div>
</footer>